__pycache__/

# Advent of Code Session Token
.token

# Script to create initial files for daily visualization.
new_day.py

# gephi files used for graph images
*.gexf

# pony attempts
2020/pony_intcode/

# TODO
TODO.md
